html,body {
    
    height:100%;
}
.custom-font {
    font-family: 'Libertinus Mono', monospace;
}
.headertitle{
  overflow: hidden;
  border-right: 3px solid black;
  font-size: 60px;
  width: 0;
  animation: typing 2s steps(8, end) forwards, blink 0.75s step-end infinite;
  
}
@keyframes typing {
  from { width: 0; }
  to { width: 8ch; }
}
@keyframes blink {
  50% { border-color: transparent; }
}
footer {
    padding: 50px ;
}

section {
    margin-top:150px;
    margin-bottom: 150px;
}
/* nav */
@media (max-width: 768px) {
    body nav {
        flex-direction: column;
        align-items: center;
    }
}
nav {
    display: flex;
    justify-content: flex-end; 
}
a {
    font-size: 20px;
    font-weight:500;
    color: #000000; 
    text-decoration: none;
    text-align: cen;
    }
.label {
  margin-right :20px;
}
a:hover {
    text-decoration: underline;
    transform: scale(1.3);
    }
.button {
    display: block;
    margin:0 auto;
    background: none;
    border:none;
    width: 200px;
    font-size: 50px;
    font-weight:bolder;
    margin: 20px auto;
    text-align: center;
    align-items: center;
    font-family: 'Libertinus Mono', monospace;
}
.button:hover {
  transform: scale(1.3);
}
.textbody {
    width: 100%;
    font-size: 20px;
    
    align-items: center;
    text-align: center;
}
img {
    width: 300px;
    height: 288px;
    object-fit: cover;
}
/* about */
.profileicon{
  background: none;
  border: none;
  font-size: 200px;
  cursor: pointer;
}
.aboutcard {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.aboutcard img {
  border-radius: 12px;
  margin-bottom: 16px;
}
.aboutcard a {
  display: block;
  font-weight: bold;
  margin: 10px 0;
}

/* project */
#project {
    background-color: rgb(255, 255, 255);
  position: relative;
}
.slider {
  position: relative;
  height: 340px;
  width: 600px;
  overflow: hidden;
}
.slidebox {
    display: flex;
    justify-content: center;
}

.slider .textbody {
  display: inline-block;
  height: 100%;
  width: 100%;
  vertical-align: top;
  white-space: normal;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  position: absolute;
}

.slider.textbody img {
  width: 100%;
  height: auto;
  display: block;
  
}

.arrowbutton {
  background: none;
  border: none;
  font-size: 45px;
  cursor: pointer;
}
.indicator {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 0;
  list-style: none;
  margin-top: 20px;
  flex-direction: row;
  z-index: 9999;
}
.indicator li {
  display: inline-block;
}
.indicator i {
  font-size: 20px;
  color: #000000;
}
.indibtn {
  background: none;
  border: none;
}

/* skill */
ul{
    padding-left: 0;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
li {
    font-size: 20px;
}

